[Desktop Entry]
Encoding=UTF-8
Name=Dowiązanie do K-nearest Neighbour Method of Analysing the ECG Signal (To Find out the Different Disorders Related to Heart)
Type=Link
URL=http://scialert.net/fulltext/?doi=jas.2014.1628.1632&org=11
Icon=text-html
Name[pl_PL]=K-nearest Neighbour Method of Analysing the ECG Signal (To Find out the Different Disorders Related to Heart)
